In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('titles.csv')

In [3]:
df.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [4]:
df.isna().sum()

title    0
year     0
dtype: int64

### How many movies are listed in the titles dataframe?

In [7]:
df.title.count()

244914

### What are the earliest two films listed in the titles dataframe?

In [9]:
df.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [10]:
df.title == 'Hamlet'

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
244884    False
244885    False
244886    False
244887    False
244888    False
244889    False
244890    False
244891    False
244892    False
244893    False
244894    False
244895    False
244896    False
244897    False
244898    False
244899    False
244900    False
244901    False
244902    False
244903    False
244904    False
244905    False
244906    False
244907    False
244908    False
244909    False
244910    False
244911    False
244912    False
244913    False
Name: title, Length: 244914, dtype: bool

In [11]:
df.title[df.title == 'Hamlet'].count()

20

### How many movies are titled "North by Northwest"?

In [12]:
df.title == 'North by Northwest'

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
244884    False
244885    False
244886    False
244887    False
244888    False
244889    False
244890    False
244891    False
244892    False
244893    False
244894    False
244895    False
244896    False
244897    False
244898    False
244899    False
244900    False
244901    False
244902    False
244903    False
244904    False
244905    False
244906    False
244907    False
244908    False
244909    False
244910    False
244911    False
244912    False
244913    False
Name: title, Length: 244914, dtype: bool

In [13]:
df.title[df.title == 'North by Northwest'].count()

1

### When was the first movie titled "Hamlet" made?

In [17]:
df[df.title == 'Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent

In [19]:
df[df.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [25]:
df[df.year == 1950].year.count()

1113

### How many movies were made in the year 1960?

In [26]:
df[df.year == 1960].year.count()

1549

### How many movies were made from 1950 through 1959?

In [33]:
df[(df.year > 1950) & (df.year <= 1959)].count()

title    11821
year     11821
dtype: int64

### In what years has a movie titled "Batman" been released?

In [38]:
df[df.title == "Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

# Loading Dataset

In [ ]:
df1= pd.read_csv("cast.csv")

In [44]:
df1.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786176 entries, 0 to 3786175
Data columns (total 6 columns):
title        object
year         int64
name         object
type         object
character    object
n            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 173.3+ MB


### How many roles were there in the movie "Inception"

In [49]:
df1[df1.title == 'Inception'].character.count()

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [50]:
df1[df1.title == 'Inception'].n.isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value

In [51]:
df1[df1.title == 'Inception'].n.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [52]:
df1[df1.title == 'North by Northwest'].sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
12668,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
29122,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
56389,North by Northwest,1959,Don Anderson,actor,Worker,NaN
56610,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
95950,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
101764,North by Northwest,1959,Tol Avery,actor,State Police Detective,NaN
113558,North by Northwest,1959,Sam Bagley,actor,Courtroom Spectator,NaN
119104,North by Northwest,1959,Frank Baker,actor,Man at Auction,NaN
124956,North by Northwest,1959,Alex Ball,actor,Man at United Nations Building,NaN
143362,North by Northwest,1959,Baynes Barron,actor,Taxi Driver #2,NaN
157984,North by Northwest,1959,Brandon Beach,actor,Man at Auction,NaN
183104,North by Northwest,1959,John Beradino,actor,Sergeant Emile Klinger,NaN
231150,North by Northwest,1959,Stephen Bolster,actor,Man with Camera,NaN
357237,North by Northwest,1959,Steve Carruthers,actor,Man at Auction,NaN
...,...,...,...,...,...,...
2194600,North by Northwest,1959,Harry Strang,actor,Assistant Conductor,NaN
2222438,North by Northwest,1959,Joe Szorentini,actor,Man Opening Door for Thornhill,NaN
2278874,North by Northwest,1959,Paul Togawa,actor,Man at United Nations Building,NaN
2290492,North by Northwest,1959,Arthur Tovey,actor,Man at Auction,NaN
2336947,North by Northwest,1959,Dale Van Sickel,actor,Ranger,NaN
2413287,North by Northwest,1959,Ray Weaver,actor,Policeman at Grand Central Station,NaN
2442621,North by Northwest,1959,Frank Wilcox,actor,Herman Weitner,NaN
2451678,North by Northwest,1959,Lloyd (VI) Williams,actor,Minor Role,NaN
2452927,North by Northwest,1959,Robert Williams,actor,Patrolman Waggoner,NaN
2477285,North by Northwest,1959,Wilson Wood,actor,Photographer at United Nations,NaN
2503251,North by Northwest,1959,Carleton Young,actor,Fanning Nelson,NaN
2513380,North by Northwest,1959,Ernesto Zambrano,actor,Man at Auction,NaN
2560297,North by Northwest,1959,Anne (II) Anderson,actress,Woman,NaN
2591034,North by Northwest,1959,Rama Bai,actress,Woman at United Nations Building,NaN
2632633,North by Northwest,1959,Audrey Betz,actress,Woman at Auction,NaN
2779233,North by Northwest,1959,Lucille Curtis,actress,Woman,NaN
2780018,North by Northwest,1959,Patricia Cutts,actress,Hospital Patient,NaN
2881222,North by Northwest,1959,Jesslyn Fax,actress,Woman on Train,NaN
2898131,North by Northwest,1959,Bess Flowers,actress,Hotel Lounge Patron,NaN
2903261,North by Northwest,1959,Josephine Forsberg,actress,Friendly Passenger,NaN
2910143,North by Northwest,1959,Sally Fraser,actress,Second United Nations Receptionist,NaN
3109216,North by Northwest,1959,Madge Kennedy,actress,Mrs. Finlay,NaN
3158656,North by Northwest,1959,Doreen Lang,actress,Maggie - Roger's Secretary,NaN
3246557,North by Northwest,1959,Nora Marlowe,actress,Anna - Housekeeper,NaN
3272585,North by Northwest,1959,Maura McGiveney,actress,Attendant,NaN
3441077,North by Northwest,1959,Maudie Prickett,actress,Elsie - Maid,NaN
3577128,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3599912,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3739133,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3751311,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [53]:
df1[(df1.title == 'Sleuth') & (df1.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [54]:
df1[(df1.title == 'Sleuth') & (df1.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [55]:
df1[(df1.title == 'Hamlet') & (df1.year == 1921)].character.count()

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [56]:
df1[(df1.title == 'Hamlet') & (df1.year == 1996)].character.count()

54


### How many "Hamlet" roles have been listed in all film credits through history?

In [59]:
print(len(df1[df1.title == 'Hamlet']))

342

### How many people have played an "Ophelia"?

In [60]:
df1[df1.character == 'Ophelia'].character.count()

117

### How many people have played a role called "The Dude"?

In [61]:
df1[df1.character == 'The Dude'].character.count()

19

### How many people have played a role called "The Stranger"?

In [62]:
df1[df1.character == 'The Stranger'].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [63]:
df1[df1.name == 'Sidney Poitier'].name.count()

43

### How many roles has Judi Dench played?

In [64]:
df1[df1.name == 'Judi Dench'].name.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [65]:
df1[(df1.name == 'Cary Grant')&(df1.n == 2)&(df1.year >= 1940)&(df1.year <= 1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [67]:
df1[(df1.name == 'Cary Grant')& (df1.year >= 1940)&(df1.year <= 1949)].sort_values('year')

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [68]:
len(df1[(df1.year >= 1950)&(df1.year < 1960) & (df1.type == 'actor')].type)

157738

### How many roles were available for actresses in the 1950s?

In [69]:
len(df1[(df1.year >= 1950)&(df1.year < 1960) & (df1.type == 'actress')].type)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [70]:
df1[(df1.n == 1) & (df1.year <= 1980)].character.count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [71]:
(df1[df1.year <= 1980].character.count()) - (df1[(df1.n == 1)&(df1.year <= 1980)].character.count())

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [72]:
df1[df1.year == 1980].n.isnull().sum()

4466